
.contenedor-img{
    height: 400px;
}
.section{
    margin: 5px auto;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.aside{
    margin: 2px auto;
    margin-bottom: 15px;
    }





.botones{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton{
    justify-content: center;
    margin-top: 100px;
    position: fixed;
}

.chat{
    justify-content: center;
    margin-top: 1000px;
    position: fixed;
    
    
}

.logo-whatsapp{
    height: 50px;
    width: 50px;
}

.img-icono{
    width: 100px;
    height: 100px;
    margin: auto;
}

.ver-mas{
    display: flex;
    justify-content: center;
    width: 100px;
    margin: auto;
}

.contenedor-section{
    margin: auto;
   display:flex;
   flex-direction: column;
    

}
.contenedor-aside{
    margin: auto;
}
.main{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contenedor-principal{
    margin: auto;
}

.footer{
    position: sticky;
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 220px;
    background-color: rgb(51, 54, 51);
}
.copyRigth{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    margin-top: 5px;
    
}

h6{
    font-size: 15px;
    letter-spacing: 2px;
}
.contacto{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin:25px auto;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.iconos-redes{
    display: flex;
    justify-content:center;
    margin:auto;
}

.iconos-redes a{
    margin: 5px;
}

@media screen and (min-width: 768px){
    .footer{
        position: sticky;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
        height: 75px;
        background-color: rgb(51, 54, 51);
    }
    .copyRigth{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        color: white;
        margin: auto;
        width: 27.5%;
        
        
    }
    
    h6{
        font-size: 10px;
        letter-spacing: 0px;
    }
    .contacto{
        width: 27.5%;
        display: flex;
        flex-direction: column;
        justify-content: left;
        margin:5px auto;
        text-align: center;
        color: white;
        text-transform: uppercase;
    }
    
    .iconos-redes{
        width: 27.5%;
        display: flex;
        justify-content:center;
        margin:auto;
    }
    
    .iconos-redes a{
        margin: 5px;
    }
}